<!doctype html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="style.css">
      <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Palanquin" rel="stylesheet">
  </head>
<body>
  
  <div id="loader">
    <img src="https://cdn.glitch.com/7e9f58b7-9c55-41ab-af30-ab232c909771%2Floader.gif?1512127012529" alt="Loader" height="32" width="42">
  </div>  

<header id="info-header"></header>

<div id="content-container" class="hide">
</div>
 
  
  
  <!-- Remix Button -->
<!-- <a href="https://glitch.com/edit/#!/remix/gem-kidney">
  <img src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fremix%402x.png?1513093958726" alt="remix button" aria-label="remix" height="33">
</a> -->

<script src="/client.js"></script>
    
</body>
</html>